cython
sanic==22.6.2
transformers
accelerate
text-unidecode
git+https://github.com/NVIDIA/NeMo.git@r1.13.0#egg=nemo_toolkit[asr]
git+https://github.com/openai/whisper.git
git+https://github.com/m-bain/whisperX.git
